Monografia Mapa do mercado de trabalho na Paraíba de 2007 até 2008

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import statsmodels

# manipulação dados RAIS estabelecimentos

In [2]:
#carregar arquivo 2018 (o mesmo é muito grande e por isso necessita uma manipulação antes de ser carregado)
sample_2 = pd.read_csv('RAIS_ESTAB_PUB.txt', encoding='latin-1', sep=';', low_memory=False, nrows=1000, decimal=',')

In [3]:
sample_2 = sample_2.drop(sample_2.columns[[0, 1, 2, 5, 16, 17, 20]], axis=1)
sample_2.head()

,CNAE 2.0 Classe,CNAE 95 Classe,Qtd Vínculos CLT,Qtd Vínculos Ativos,Qtd Vínculos Estatutários,Ind Atividade Ano,Ind CEI Vinculado,Ind Estab Participa PAT,Ind Rais Negativa,Ind Simples,Município,Natureza Jurídica,Tamanho Estabelecimento,Tipo Estab
0,64221,65226,63,63,0,1,0,1,0,0,110020,2038,6,1
1,64221,65226,19,19,0,1,0,1,0,0,110010,2038,4,1
2,64221,65226,35,35,0,1,0,1,0,0,110012,2038,5,1
3,64221,65226,30,30,0,1,0,1,0,0,110002,2038,5,1
4,64221,65226,28,28,0,1,0,1,0,0,110004,2038,5,1

In [4]:
objects = sample_2.select_dtypes('object').columns

In [5]:
sample_2.loc[:, objects] = sample_2.loc[:, objects].apply(lambda x: x.astype('category'))

In [6]:
ints = sample_2.select_dtypes(include=['int64','int32','int16']).columns
sample_2[ints] = sample_2[ints].apply(pd.to_numeric, downcast='integer')

floats = sample_2.select_dtypes(include=['float']).columns
sample_2[floats] = sample_2[floats].apply(pd.to_numeric, downcast='float')

In [7]:
types = sample_2.dtypes
types = types.apply(str)

In [8]:
dict_types = types.to_dict()

In [9]:
emp18 = []
for chunk in pd.read_csv('RAIS_ESTAB_PUB.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp18.append(chunk)

In [10]:
emp17 = []
for chunk in pd.read_csv('ESTB2017.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp17.append(chunk)

In [11]:
emp16 = []
for chunk in pd.read_csv('ESTB2016.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp16.append(chunk)

In [12]:
emp15 = []
for chunk in pd.read_csv('ESTB2015.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp15.append(chunk)

In [13]:
emp14 = []
for chunk in pd.read_csv('ESTB2014.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp14.append(chunk)

In [14]:
emp13 = []
for chunk in pd.read_csv('ESTB2013.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp13.append(chunk)

In [15]:
emp12 = []
for chunk in pd.read_csv('Estb2012.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp12.append(chunk)

In [16]:
emp11 = []
for chunk in pd.read_csv('ESTB2011.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp11.append(chunk)

In [17]:
emp10 = []
for chunk in pd.read_csv('ESTB2010.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    emp10.append(chunk)

In [18]:
emp09 = []
for chunk in pd.read_csv('ESTB2009.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', chunksize=1000):
    emp09.append(chunk)

In [19]:
emp08 = []
for chunk in pd.read_csv('Estb2008.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',',  chunksize=1000):
    emp08.append(chunk)

In [20]:
emp07 = []
for chunk in pd.read_csv('ESTB2007.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', chunksize=1000):
    emp07.append(chunk)

In [24]:
emp18 = pd.concat(emp18)

In [22]:
emp17 = pd.concat(emp17)

In [23]:
emp16 = pd.concat(emp16)

In [25]:
emp15 = pd.concat(emp15)

In [26]:
emp14 = pd.concat(emp14)

In [27]:
emp13 = pd.concat(emp13)

In [28]:
emp12 = pd.concat(emp12)

In [29]:
emp11 = pd.concat(emp11)

In [30]:
emp10 = pd.concat(emp10)

In [31]:
emp09 = pd.concat(emp09)

In [38]:
emp08 = pd.concat(emp08)

In [33]:
emp07 = pd.concat(emp07)

In [39]:
emp07pb = emp07.loc[(emp07['Município'] >= 250000) & (emp07['Município'] <= 259999)]
emp08pb = emp08.loc[(emp08['Município'] >= 250000) & (emp08['Município'] <= 259999)]
emp09pb = emp09.loc[(emp09['Município'] >= 250000) & (emp09['Município'] <= 259999)]
emp10pb = emp10.loc[(emp10['Município'] >= 250000) & (emp10['Município'] <= 259999)]
emp11pb = emp11.loc[(emp11['Município'] >= 250000) & (emp11['Município'] <= 259999)]
emp12pb = emp12.loc[(emp12['Município'] >= 250000) & (emp12['Município'] <= 259999)]
emp13pb = emp13.loc[(emp13['Município'] >= 250000) & (emp13['Município'] <= 259999)]
emp14pb = emp14.loc[(emp14['Município'] >= 250000) & (emp14['Município'] <= 259999)]
emp15pb = emp15.loc[(emp15['Município'] >= 250000) & (emp15['Município'] <= 259999)]
emp16pb = emp16.loc[(emp16['Município'] >= 250000) & (emp16['Município'] <= 259999)]
emp17pb = emp17.loc[(emp17['Município'] >= 250000) & (emp17['Município'] <= 259999)]

In [41]:
emp18pb = emp18.loc[(emp18['Município'] >= 250000) & (emp18['Município'] <= 259999)]

In [42]:
emp18pb.to_csv ('emp18.csv', sep=';')
emp17pb.to_csv ('emp17.csv', sep=';')
emp16pb.to_csv ('emp16.csv', sep=';')
emp15pb.to_csv ('emp15.csv', sep=';')
emp14pb.to_csv ('emp14.csv', sep=';')
emp13pb.to_csv ('emp13.csv', sep=';')
emp12pb.to_csv ('emp12.csv', sep=';')
emp11pb.to_csv ('emp11.csv', sep=';')
emp10pb.to_csv ('emp10.csv', sep=';')
emp09pb.to_csv ('emp09.csv', sep=';')
emp08pb.to_csv ('emp08.csv', sep=';')
emp07pb.to_csv ('emp07.csv', sep=';')